a,
input {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  background: #222222;
  color: #cccccc;
}
body {
  margin: 0;
  font-size: 1.6em;
  line-height: 1.4;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header,
main,
footer {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #0099cc;
  text-decoration: none;
  font-weight: 700;
  border-bottom: solid transparent 1px;
}
a:active,
a:hover,
a:focus {
  outline-width: 0;
  color: #fff;
  border-bottom: dotted #0099cc 1px;
}
hr {
  display: none;
}
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
#app {
  font: 300 1.6rem/1.4 'Helvetica Neue', 'Segoe UI', sans-serif;
  max-width: 680px;
  margin: 2rem auto;
  padding: 0 20px;
  position: relative;
}
@media all and (min-width: 880px) {
  #app {
    max-width: 980px;
    margin: 5rem auto 2rem;
    padding: 0 480px 0 20px;
    min-height: 450px;
  }
}
#app h1,
#app h2 {
  margin: 0;
  line-height: 1.2;
}
#app h1 {
  font-size: 3rem;
  letter-spacing: -0.1rem;
}
#app h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.05rem;
}
@media all and (min-width: 880px) {
  #app h1 {
    font-size: 4.2rem;
  }
  #app h2 {
    font-size: 2.8rem;
  }
}
#app header {
  margin: 0 0 1rem;
}
#app p {
  margin: 0 0 2.5rem;
  color: #888;
}
#app p#o {
  margin: 0 auto 3rem;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 40px -5px rgba(0, 0, 0, 0.1), 0 15px 20px -10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 420px;
}
@media all and (min-width: 880px) {
  #app p#o {
    position: absolute;
    top: 0;
    right: 20px;
  }
}
#app p#o img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 0;
}
#app footer {
  margin: 2rem 0 0;
  padding: 2rem 0 0;
  border-top: dotted #555 1px;
  font-size: 1.4rem;
}
form p {
  position: relative;
  padding: 0 140px 0 0;
}
form p label {
  display: block;
  font-size: 1.2rem;
  padding: 0 0 .5rem;
  opacity: .8;
}
form p [type="text"],
form p [type="submit"] {
  font-family: inherit;
  font-size: 100%;
  overflow: visible;
  display: block;
  height: 4rem;
  line-height: 4rem;
  border: none;
  margin: 0;
  padding: 0;
}
form p [type="text"]:focus,
form p [type="submit"]:focus {
  outline: none;
}
form p [type="text"] {
  background: #222222;
  color: #fff;
  border-bottom: solid rgba(0, 153, 204, 0.6) 2px;
  width: 100%;
}
form p [type="text"]:focus,
form p [type="text"]:hover,
form p [type="text"]:active {
  border-bottom: solid #0099cc 2px;
}
form p [type="submit"] {
  -webkit-appearance: button;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 153, 204, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.1rem;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  letter-spacing: .2rem;
  border-radius: 2px;
  width: 120px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
form p [type="submit"]:focus,
form p [type="submit"]:hover,
form p [type="submit"]:active {
  background: #0099cc;
  color: #fff;
  box-shadow: 0 2px 1px #000;
}
form p:after {
  content: '';
  display: table;
  clear: both;
}
ul#dl {
  list-style: none;
  background: #111;
  margin: 0;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  border-radius: 5px;
  position: relative;
}
ul#dl:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin: 0;
  margin-left: -15px;
  height: 30px;
  width: 30px;
  border: solid transparent 15px;
  border-bottom: solid #111 15px;
}
@media all and (min-width: 880px) {
  ul#dl:after {
    top: 50%;
    left: 100%;
    margin: 0;
    margin-top: -15px;
    border: solid transparent 15px;
    border-left: solid #111 15px;
  }
}
ul#dl li {
  padding: 0 0 .4rem;
  white-space: nowrap;
  overflow: hidden;
}
ul#dl li:last-child {
  padding: 0;
}
ul#dl li strong {
  font-weight: 400;
  font-size: 90%;
  text-transform: uppercase;
  display: inline-block;
  min-width: 7rem;
}
ul#dl li em {
  display: inline-block;
  padding: 0 0 0 .5rem;
  font-style: normal;
}
ul#dl li#sh em {
  word-spacing: .5rem;
}
ul#dl li#sh a {
  font-weight: 300;
}
::-webkit-input-placeholder {
  color: #4d4d4d;
}
:-moz-placeholder {
  color: #4d4d4d;
}
::-moz-placeholder {
  color: #4d4d4d;
}
:-ms-input-placeholder {
  color: #4d4d4d;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #222222 inset;
}
